In [11]:
# Data Project 2: Working with Marvel Heroes
# It’s time to work on some famous characters .We need to work on Marvel Characters data set which is having "characters_stats".csv. Following requirements are there which we need to fulfill:

# 1. Import required libraries
# 2. Read csv
# 3. Show first records from csv
# 4. Show number of rows and columns
# 5. You need to find the values of alignment ,can use value_counts()
# 6. Find out only good alignment holders superheroes
# 7. Show first five records which you found in point 6
# 8. Show top five records having top speed of heroes of good alignment
# 9. Show 5 records of super heroes who have maximum power of good alignment
# 10. Find out how many super heroes are there with power 100 of good alignment
# 11. Shape them what you got in point 10
# 12. Show all records from point 10
# 13. Retrieve total of first five records of max power of good alignment super heroes
# 14. Draw a bar plot of all super heroes who are having good alignment and max power of top five only , take same object of point 13 , show name and total in plot with green bars
# 15. Extract villains having bad alignment
# 16. Show first five records of point 15
# 17. Show top five fastest super villains in terms of super speed
# 18. Top five super villains in terms of intelligence
# 19. Show who is most dangerous super villain after calculating their total (top 5 only)
# 20. Draw a histogram for speed of super heroes having fig size 10,5 , provide speed in histogram for only good alignment super heroes ,title should be "distribution of speed" , xlabel should be "speed"
# 21. Draw a histogram for combat of super villains having fig size 10,5 , provide combat in histogram for only bad alignment super heroes ,title should be "distribution of combat" , xlabel should be "combat"

# *** Explain how you retrieve data with the help of comments in almost each section.

# Bonus: Can go beyond the scope and extract some different information on different characters and their properties. Can draw some more plots and histograms.

In [12]:
# 1. Import required libraries
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
# 2. Read csv
df = pd.read_csv('characters_stats.csv')

In [14]:
# 3. Show first records from csv
df.head()                                # head() reveals first 5 records by default

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
4,Abomination,bad,63,80,53,90,55,95,436

In [15]:
# 4. Show number of rows and columns

row_size = len(df)
column_size = len(df.columns)
print('Number of Rows:', row_size)
print('Number of Columns:', column_size)

Number of Rows: 611
Number of Columns: 9

In [20]:
# 5. You need to find the values of alignment, can use value_counts()
df.value_counts('Alignment')

In [21]:
# 6. Find out only good alignment holders superheroes

good_superheroes = df[df['Alignment'] == 'good']
good_superheroes

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
6,Adam Monroe,good,63,10,12,100,71,64,320
7,Adam Strange,good,1,1,1,1,0,1,5
8,Agent 13,good,1,1,1,1,0,1,5
9,Agent Bob,good,10,8,13,5,5,20,61
10,Agent Zero,good,75,28,38,80,72,95,388
12,Alan Scott,good,63,80,23,90,98,32,386
13,Alex Woolsly,good,1,1,1,1,0,1,5
14,Alfred Pennyworth,good,63,10,17,10,7,55,162
15,Allan Quatermain,good,1,1,1,1,0,1,5
18,Ando Masahashi,good,1,1,1,1,0,1,5
19,Angel,good,63,13,46,64,17,42,245
20,Angel Salvadore,good,38,10,28,28,46,60,210
22,Animal Man,good,56,48,47,85,73,80,389
24,Ant-Man,good,100,10,23,28,32,32,225
25,Ant-Man II,good,63,10,23,28,32,28,184
30,Aquababy,good,10,16,12,14,37,14,103
31,Aqualad,good,63,44,42,75,76,60,360
32,Aquaman,good,63,80,50,80,65,80,418
33,Arachne,good,1,1,1,1,0,1,5
34,Archangel,good,63,13,58,64,28,42,268
36,Ares,good,75,82,35,80,62,101,435
37,Ariel,good,50,10,12,14,72,28,186
38,Armor,good,50,63,12,80,55,54,314
39,Arsenal,good,1,1,1,1,0,1,5
40,Astro Boy,good,1,1,1,1,0,1,5
41,Atlas,good,50,80,23,99,69,42,363
...,...,...,...,...,...,...,...,...,...
573,Vertigo II,good,1,1,1,1,0,1,5
574,Vindicator,good,1,1,1,1,0,1,5
575,Vindicator II,good,63,63,53,64,56,70,369
577,Violet,good,10,4,12,28,65,14,133
578,Vision,good,100,72,54,95,76,70,467
579,Vision II,good,1,1,1,1,0,1,5
580,Vulcan,good,1,1,1,1,0,1,5
583,War Machine,good,63,80,63,100,100,85,491
584,Warbird,good,1,1,1,1,0,1,5
585,Warlock,good,88,36,79,95,71,95,464
587,Warpath,good,38,72,47,70,26,84,337
588,Wasp,good,63,8,58,52,23,42,246
589,Watcher,good,100,80,67,89,100,56,492
591,White Queen,good,1,1,1,1,0,1,5
592,Wildfire,good,50,32,23,100,77,42,324
594,Winter Soldier,good,56,32,35,65,60,84,332
595,Wiz Kid,good,1,1,1,1,0,1,5
596,Wolfsbane,good,38,16,35,42,26,42,199
597,Wolverine,good,55,32,38,100,44,100,369
598,Wonder Girl,good,75,90,25,80,39,60,369
599,Wonder Man,good,75,100,53,90,64,64,446
600,Wonder Woman,good,88,100,50,100,42,100,480
601,Wondra,good,1,1,1,1,0,1,5
602,Wyatt Wingfoot,good,10,10,12,1,1,56,90
603,X-23,good,75,24,35,90,27,85,336
604,X-Man,good,88,53,53,95,92,84,465
606,Yellowjacket,good,88,10,12,28,12,14,164
607,Yellowjacket II,good,50,10,35,28,31,28,182
608,Ymir,good,50,100,27,100,83,28,388
609,Zatanna,good,75,10,23,28,100,56,292

In [22]:
# 7. Show first five records which you found in point 6

good_superheroes.head(5)

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
6,Adam Monroe,good,63,10,12,100,71,64,320